body {
    background-color: lightgray;
}

#container {
    background-color: lightcoral;
    height: 130vh;
}

h2 {
    text-align: center;
    opacity: 0;
}

.up {
    opacity: 1;
    transition: 1s;
    transform: translateY(-100px);
}

keyframes scroll_in {
    to {
        opacity: 1;
        /* transform: translateY(-250px); */
    }
}
